#platform=86, AMD64, 或 Intel EM64T

#version=RHEL7
# System authorization information
auth --useshadow  --passalgo=sha512
# Install OS instead of upgrade
install
# Reboot after installation
reboot
# Use network installation
url --url="http://10.0.8.2:8081/centos/7/7.0/x86_64"
# Use text mode install
text
# Firewall configuration
firewall --enabled --service=http,ftp,ssh,smtp
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=em1 --ipv6=auto --activate
network  --bootproto=dhcp --device=em2 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $1$nZfs0Lkl$TfnKFLiPda6wgU9ueL4.0.
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Hong_Kong --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 

%post

wget -O /tmp/ip_add_181024.sh http://10.0.8.2:8081/ip_add_181024.sh &>/dev/null
/usr/bin/bash /tmp/ip_add_181024.sh
%end

%packages
@base
chrony
kexec-tools

%end

